html body {
    min-height: 100vh;
}
.header-logo {
    height: 90px;
    width: 90px;
    margin-left: 20px;
}
.navbar {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.navbar-elements{
    position: absolute;
    right: 20px;
    margin-top: 20px;
    padding-top: 12px;
    height: 0;
}
.navbar-elements a {
    margin: 20px;
}
.about-header {
    font-size: 3em;
}
.about-content h1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
}
.about-content p {
    position: absolute;
    left: 50vw;
    width: 500px;
    margin-left: -250px;
}