html body {
    min-height: 100vh;
}
.header-logo {
    height: 90px;
    width: 90px;
    margin-left: 20px;
    margin-right: 75vw;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar a{
    margin: 20px;
    padding-top: 12px;
    height: 0;
}
