<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AppointMED</title>
</head>
<body>
    <div class="navbar">
        <img class="header-logo" src="../static/images/AppointMED.svg" alt="AppointMED logo">
        <a href="home.html">Home</a>
        <a href="appointment.html">Appointment</a>
        <a href="">About</a>
    </div>
</body>
</html>
